{% extends "base.html" %}

{% block title %}Profile of {{ user.username }}{% endblock %}

{% block content %}
<div class="container" style="margin-top: 30px;">
    <h4>📊 Profile of {{ user.username }}</h4>
    <p class="grey-text">
        Last updated:
        {% if stats.last_played_human %}
        {{ stats.last_played_human }}
        {% else %}
        -
        {% endif %}
    </p>

    <div class="row">
        <div class="col s12 m4">
            <div class="card blue-grey lighten-5">
                <div class="card-content">
                    <span class="card-title"><i class="material-icons">speed</i> Typing Speed</span>
                    <h5>{{ stats.wpm or 0 }} <small>WPM</small></h5>
                    <p class="grey-text">Words per minute (latest round)</p>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card blue-grey lighten-5">
                <div class="card-content">
                    <span class="card-title"><i class="material-icons">text_fields</i> Total Words</span>
                    <h5>{{ stats.total_words or 0 }}</h5>
                    <p class="grey-text">All correctly typed words</p>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card blue-grey lighten-5">
                <div class="card-content">
                    <span class="card-title"><i class="material-icons">access_time</i> Play Time</span>
                    {% set secs = stats.total_seconds or 0 %}
                    {% set hours = (secs // 3600) %}
                    {% set minutes = (secs % 3600) // 60 %}
                    {% set seconds = secs % 60 %}
                    <h5>{{ "%d:%02d:%02d" % (hours, minutes, seconds) }}</h5>
                    <p class="grey-text">Hours:Minutes:Seconds</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col s12">
            <a href="{{ url_for('home') }}" class="btn theme-btn">
                <i class="material-icons left">home</i> Back to Home
            </a>
            <a href="{{ url_for('logout') }}" class="btn theme-btn">
                <i class="material-icons left">exit_to_app</i> Log Out
            </a>
        </div>
    </div>
</div>
{% endblock %}